<div class="bg-img">
    <div class="pad">
        <mat-card class="card">
            <div>
                <h1><strong style="padding-left: 20%;">Change Password</strong></h1>
                <small style="padding-left: 15%;">Change Password into your pages account</small>
            </div><br><br>
           
           
           
           
           
      <form  [formGroup]="changePassword">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" name="email" type="email">
        </mat-form-field>
        <br>
            <mat-form-field   appearance="outline">
                <mat-label>old password</mat-label>
                <input matInput placeholder="password" formControlName="oldPassword" name="oldPassword" type="password">
            </mat-form-field><br>
            <mat-form-field   appearance="outline">
                <mat-label>new password</mat-label>
                <input matInput placeholder="change password" formControlName="newPassword" name="newPassword" type="password">
            </mat-form-field><br>
            <mat-form-field  appearance="outline">
                <mat-label>Confirm password</mat-label>
                <input matInput placeholder="Confirm password" formControlName="confirmPassword" name="confirmPassword" type="password">
            </mat-form-field><br>

            <button mat-flat-button class="button1" (click)=" submitChangePassword()" >submit</button>
        </form>
            <br><br>
            <div style="margin-right: 20%;">
                <div class="row" style="padding-left: 10%;">
                    <div class="col">
                        <hr style="width: 90px;">
                    </div>
                    <div class="col">
                        Or login with </div>
                    <div class="col">
                        <hr style="width: 100px;">
                    </div>
                </div>
            </div>
            <div style="margin-right: 10%;">
                <div class="row">
                    <div class="col">
                        <button mat-button style="background-color: red; color: white;">
                            <i class="fa fa-google"></i>&nbsp;
                            google+
                        </button>
                    </div>
                    <div class="col">
                        <button mat-button style="background-color:#1DA1F2; color: white;">
                            <i class="fa fa-twitter"></i>&nbsp;
                            twitter
                        </button>
                    </div>
                    <div class="col">
                        <button mat-button style="background-color:#4267B2;color: white;">
                            <i class="fa fa-facebook"></i> &nbsp;
                            facebook
                        </button>
                    </div>
                </div>
            </div>
            <br><br>
            <small style="padding-left: 20%;">Do not have a account?<a routerLink="/Register"
                    class="forget">Siginup</a></small><br><br>
        </mat-card>
    </div>
</div>